# 忽略编译产生的文件
**/target/
**/out/
**/build/

# 忽略 IDEA 配置
**/.idea/
**/*.iml

# 忽略系统文件
**/.DS_Store
**/Thumbs.db

# 忽略上传的图片数据 (这一行很关键！别把测试图片传到 GitHub)
**/nas-data/
backend/nas-data/

# 忽略 Java 日志
**/*.log